<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body ng-controller="IndexController">

<div ng-repeat="event in events">
    <input ng-model="event.name"/>
    <h2 ng-click="editName(event)">{{event.name | lowercase }} - {{event.location}} - <span ng-hide="event.name == 'OpenWest'">{{event.cost | currency}}</span></h2>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/underscore-1.4.4.min.js"></script>
</body>
</html>
